@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	color: #E6E6E6;
	background-color: #222222;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

#canvas {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}